@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-card: #ecf4ff;
}


body {
    background-image: linear-gradient(to right, #f6c8ed, #f7baee, #f7acef, #f79ef0, #f590f2);
    font-family: "Montserrat", sans-serif;
    height: 100vh;
}

.container {
  background: var(--bg-card);
  color: #444246;

  margin: 4rem auto;
  padding: 4rem;

  border-radius: 20px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  display: block;

  max-width: 40rem;
}

.perfil {
  display: flex;
  align-items: center;
}

.perfil > img {
  max-width: 10rem;
  max-height: 10rem;
  border-radius: 50%;
  box-shadow: 0px 0px 21px 2px rgba(0, 0, 0, 0.2);
}

.title {
  margin-left: 1rem;
}

.title h1 {
  font-weight: bolder;
  font-size: 1.8rem;
}

.title h3 {
  font-weight: 400;
  font-size: 1rem;
}

.title p {
  font-weight: 400;
  font-size: 0.8rem;
  color: #3C393F;
  margin-bottom: 0.3rem;
}


.line-1 {
  position: relative;
  top: 50%;
  width: 28em;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 0.8rem;
  color: var(--grey);
  white-space: nowrap;
  overflow: hidden;
  font-weight: 400;
  transform: translateY(-50%);
}


.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 11em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

@keyframes caret {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}


.lista-links {
  color: #f590f2;
}

.link-icon {
  text-decoration: none;
  font-size: 1.3rem;
  color: #f590f2;
  transition: color 0.2s;
}

.link-icon:hover {
  color: #FCDDE8;
}

.projetos {
  margin-top: 1rem;
}

.container-projetos {
  padding: 1.1rem 1rem;
  background: rgba(192, 192, 192, 0.6);
  /*box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);*/
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.container-projetos h4 {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.container-projetos ol {
  margin-left: 1rem;
  color: var(--title);
}

.container-projetos li {
  font-size: 0.9rem;
}

.container-projetos a {
  text-decoration: none;
  font-size: 0.9rem;
  color: black;
}

.container-projetos a:hover {
  color: #FCDDE8;
}

.container-projetos li:hover {
  color: #FCDDE8;
}

/* Configuração DARK MODE */

.dark {
    background-image: linear-gradient(to right, #6d6668, #534e50, #3b3739, #242223, #0d0c0d);
}

.dark .container {
    background: #333439 ;
    color: #F6F6F6;
}

.dark .projetos {
    color: #1C1C1C ;
}

.tema button {
    align-self: flex-end;
    box-sizing: border-box;
    border-radius: 100px;
    padding: 8px 16px;
    margin-left: 18px;
    cursor: pointer;
}

.tema button:hover {
  background-color: #b0adae;
  border: none;
  color: #f6c8ed;
}
.dark .tema button {
    background: #1C1C1C ;
    color: #FFFFFF;
    border: 2px solid #F7F7F7;
}

.dark .tema button:hover {
  background-color: #ebe9ea;
  border: none;
  color: #a04b91;
}

.btn-mobile {
  display: none;
}

/* MOBILE RESPONSIVE   */

@media screen and (max-width: 530px) {
  .tema button {
 display:none
}
.btn-mobile {
    display: block;
    margin-left: 270px;
    cursor: pointer;
    margin-bottom: 3px;
    border-radius: 2rem;
    padding: 2px;
    background-color: #dfdddf;

}

.dark .btn-mobile {
    background: #1C1C1C ;
    color: #FFFFFF;
    border: 2px solid #F7F7F7;
}

.dark .btn-mobile:hover {
  background-color: #ebe9ea;
  border: none;
  color: #a04b91;
}
}

